.row {
  padding-top: 20px;
}

#mapa {
  position: absolute;
  height: auto;
  width: 100%;
}

#mapa2 {
  position: absolute;
  height: auto;
  width: 100%;
}

tr.accion-inicio td.hora,
tr.accion-inicio td.texto,
tr.accion-fin td.hora,
tr.accion-fin td.texto {
  font-style: 13px;
  font-weight: bold;
}

tr.accion-inicio td.tren,
tr.accion-inicio td.tren div.linea {
  vertical-align: bottom;
}

tr.accion-fin td.tren,
tr.accion-fin td.tren div.linea {
  vertical-align: top;
}

td.hora {
  color: #666;
  font-size: 12px;
}

td.tren {
  height: 30px;
  width: 26px;
  text-align: center;
}

td.texto {
  font-size: 12px;
}

div.linea {
  display: inline-block;
  width: 17px;
  height: 17px;
  text-align: center;
  font-weight: bold;
}

div.marca {
  min-height: 30px;
  width: 3px;
  margin: 0 auto;
}

div.linea-A {background: #009245; color:#FFF;}
div.linea-B {background: #FFFF00; color:#000;}
div.linea-C {background: #FF0000; color:#FFF;}
div.linea-D {background: #29ABE2; color:#FFF;}
div.linea-E {background: #2E3192; color:#FFF;}


svg #Lineas path,
svg #Lineas line,
svg #Lineas polyline {
  fill:none;
  
  stroke-width:4;
  stroke-miterlimit:10;
}

svg #A path, svg #A line, svg #A polyline {stroke:#009245}
svg #B path, svg #B line, svg #B polyline {stroke:#FFFF00}
svg #C path, svg #C line, svg #C polyline {stroke:#FF0000}
svg #D path, svg #D line, svg #D polyline {stroke:#29ABE2}
svg #E path, svg #E line, svg #E polyline {stroke:#2E3192}

#mapa.iluminado path,
#mapa.iluminado line,
#mapa.iluminado polyline {
  stroke-width:1;
}

#mapa.iluminado path.destacado,
#mapa.iluminado line.destacado,
#mapa.iluminado polyline.destacado {
  stroke-width:6;
}
