.row {
  padding-top: 20px;
}

#mapa {
  position: absolute;
  height: auto;
  width: 100%;
}

#mapa2 {
  position: absolute;
  height: auto;
  width: 100%;
}

tr.accion-inicio td.hora,
tr.accion-inicio td.texto,
tr.accion-fin td.hora,
tr.accion-fin td.texto {
  font-style: 13px;
  font-weight: bold;
}

tr.accion-inicio td.tren,
tr.accion-inicio td.tren div.linea {
  vertical-align: bottom;
}

tr.accion-fin td.tren,
tr.accion-fin td.tren div.linea {
  vertical-align: top;
}

td.hora {
  color: #666;
  font-size: 12px;
}

td.tren {
  height: 30px;
  width: 26px;
  text-align: center;
}

td.texto {
  font-size: 12px;
}

div.linea {
  display: inline-block;
  width: 17px;
  height: 17px;
  text-align: center;
  font-weight: bold;
}

div.linea-A {background: #009245; color:#FFF;}
div.linea-B {background: #FFFF00; color:#000;}
div.linea-C {background: #FF0000; color:#FFF;}
div.linea-D {background: #29ABE2; color:#FFF;}
div.linea-E {background: #2E3192; color:#FFF;}

